.App {
 
  color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 600px;
   
}

button{
  z-index: 1;
}
#arttext{
  margin: 20px;
  text-align: center;
}
.Aboutbut{
  background: #389474;
  width: 100px;
  height: 56px;
  border: none;
  outline: none;
  font-weight: 700;
  letter-spacing: 4px;
}
button:hover{
  outline: none;
  transition: 2s;
  }
  .block > span  {
    text-align: center;
    font:bold 20px monospace;
  }
  .block{
   transition-duration: 1.7s;
   top: 4.5em;
  }
  .formcontact label{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 140px;
    line-height: 1.2;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 2.3;
    justify-content: center;
    color: #3c3c49;
  }
  .inputcontact{
    height: 1.8vw;
    font: 200 18px 'Arial Narrow Bold', sans-serif;
    color: #3a383d;
  }
  
  .butcontact{
    margin-top: 18px;
    position: relative;
    left: 13.48vw;
    background: #343944;
    color: #c8c5cc;
    outline: none;
  }
  .Newcontact{
    z-index:21;
  }
  .Gallery{
   position: relative;
   top: 220px;
  }
   
  .Gallery h3{
    display: flex;
   flex-direction: row;
   width: 100%;
   flex-wrap: wrap;
   font: 600 'Times New Roman', Times, serif 2.3vw;
  color: #3a383d;
  justify-content: center;
  }
  .Gallery p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #282c34;
    font: 600 'Times New Roman', Times, serif 2.3vw;
    margin: 10px; 
    justify-content: center;
   }
  .Newcontact button{
      height: auto;
      background: darkslategray;
      color: #c8c5cc;
      outline: none;
      border: 5px solid transparent;
 }
  .Newcontactbut{
     transition-duration: 1.7s;
  }
  .Newcontactbut:hover{
    outline: none;
    border: 5px solid transparent;
    
  }
  
  .Aboutmyself h5{
    font:bold 18px 'Courier New', Courier, monospace ;
    color: #475758;
    margin: 15px;

  }
  #contact h4{
    font:17px 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
    font-weight: 800;
    color:#343944;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background: #e6e7f2;
  overflow-x: hidden;
}

.App{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width:100%;
  
}
.block{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
}

.block p #arttext{
 margin-bottom: 170px;
 position: relative; 
 z-index: 1;
}
#arttext{
  position: relative;
  bottom: 60px;
  
 }
 

.block2 {
  text-align: left;
  
  width: 100%;
}
h1,h3,h2 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  
}
.logo > a {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  z-index: 21;
  align-items: center;
  height: 145px;
  font:700 4vw "Cooljazz";
  color: #3a383d;
  padding: 20px;
  position: relative;
}

ul {
  margin-top: 300px;
  list-style-type: none ;
  }


.Home {
  color: green !important;
}

h1{
  justify-content: center;
  
}
span{
  width: 100%;
}

.blocks {
  display: flex;
  justify-content: flex-end;
  width: 94%;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 20px 20px;
  
}

.blocks > a{
  padding: 0px 20px;
}
.mainmenu {
  width: 90% !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: flex-end !important;
  margin: 50px 50px !important;
  padding: 0px;
  
}
.mainmenu li a {
  padding: 0px 25px;
  line-height: 2;
  text-decoration: none;
  font-size:20px;
  font-weight: 600;
  color: #343944;
  font-family: 'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif;  
}
.backgroundblock{
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  margin-top: 40px;
  padding: 0px;
  color: #343944;
}
.nav-links  {
  z-index: 1 !important;
  position: absolute;
  left: 4vw;
  line-height: 2.5;
  padding: 25px;
  font-size:20px;
  font-weight: 600;
  font-family: "SerifGothicBold";
  color: #343944;
}
.nav-links > a  {
 
  color: #343944;
}
a{
  text-decoration: none;
}
.contentmenu{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  height: 2.5vw;
}
.contentmenu #loading{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: flex-end;
  z-index: 21;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 6vw;
  
  }
.Footer h1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  color: #343944;
  height: 2100px;
  font-family: "SerifGothicBold";
  flex-wrap: wrap;
  
}
.Footer span {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  color: #60687a;
  margin-bottom: 40px;
  font-family: Impact,'Arial Narrow Bold', sans-serif;
  flex-wrap: wrap;
  letter-spacing: 0.5vw;
}
@font-face {
  font-family: "SerifGothicBold";
  src: url("./fonts/SerifGothicBold.woff") format("woff");
        
 }
 
@font-face {
  font-family: "Hisqaida";
  src: url("./fonts/Hisqaida.woff") format("woff");
        
 }
 @font-face {
  font-family: "Cooljazz";
  src: url("./fonts/Cooljazz.woff") format("woff");
        
 }
 .artitleblock{
   padding: 20px;
   text-align: center;
   margin-top: 580px;
 }
 .artitleblock p{
   letter-spacing: 5px;
   text-align: center;
   line-height: 1.4;
 }
 .artitleblock h5{
  letter-spacing: 25px;
  line-height: 1.5;
  font:25px fantasy;

}
.Arthome{
  letter-spacing: 5px;
  line-height: 1.5;
  font:15px monospace;
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}



 .makeStyles-root-1{
    width: 100%;
    height: auto;
}
h3 a{
  font-family: "Cooljazz";
  letter-spacing: 5px;
  flex-wrap: wrap;
 
}
